
.tab-component {
  border-radius: 4px;
  overflow: hidden;
}

.tabs {
  display: flex;
}

.tab {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
  transition: background-color 0.3s;
}

.tab.active {
  border-bottom: 1px solid #6e5ff8;
  color: #6e5ff8;
}

.tab-panel {
  padding: 20px;
}
