<div class="user-form">
    <form [formGroup]="userForm">
        <div class="first-name">
            <input type="text" placeholder="FirstName" formControlName="firstName">
        </div>
        <div class="last-name">
            <input type="text" placeholder="LastName" formControlName="lastName">
        </div>
        <div class="email">
            <input type="text" placeholder="Email" formControlName="email">
        </div>
        <div class="password">
            <input type="password" minlength="8" maxlength="8" placeholder="Password" formControlName="password">
        </div>
        <div class="confirm-password">
            <input type="password" minlength="8" maxlength="8" placeholder="Confirm Password" formControlName="confirmPassword">
        </div>

        <div>Note: Password should be of 8 chars and include Lowercase, Uppercase, Number and Special Chars.</div>

        <button type="button" [disabled]="!userForm.valid" (click)="onSubmit()">Submit</button>
        <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
    </form>
</div>
